@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*font poppins*/

/*colors and style scrollbar*/
::-webkit-scrollbar {
      width: 10px;
}

::-webkit-scrollbar-track {
      background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
      background: #37D814;
}

::-webkit-scrollbar-thumb:hover {
      background: #26B107;
}

* {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      vertical-align: baseline;
      font-size: 100%;
      font-family: 'Poppins', sans-serif;
}

body {
      width: 100%;
      background: #0E0E0E;
}

.wrapper {
      width: 90%;
      margin: 0 auto;
}

.navBar {
      &::after {
            content: "";
            clear: both;
            display: table;
      }

      .button2 {
            background: rgba(255, 252, 237, 1);
            border: 1px;
            color: rgba(0, 0, 0, 1);
            padding: 15px 32px;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
      }
}

h1 {
      color: #fff;
      font-size: 48px;
}

p {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      margin: 0;
}

/* navbar */
nav {
      height: 70px;
      line-height: 70px;

      img {
            vertical-align: middle;
            width: 30px;
            height: 30px;

            &:nth-child(2) {
                  float: right;
            }
      }
}

/* header */
header {
      margin: 4% 1% 1% 1%;
      text-align: center;

      p {
            margin-top: 1%;
            font-size: 20px;

      }

      .download {
            margin: 20px 20px 20px 20px;
            height: 50px;
      }

      .button1 {
            background: #37D814;
            color: white;
            padding: 15px 32px;
            text-decoration: none;
            font-size: 16px;
            margin: 6px 4px;
            cursor: pointer;

            &:hover {
                  background: #26B107;
                  border: #fff 2px solid;
            }
      }
}

/* .work */
.imagenes {
      text-align: center;
      width: 100%;

      #texto {
            font-size: 45px;
      }

      img {
            margin: 1%;
            width: 45%;
      }
}

/* header2 */
.header2 {
      margin: 5% 0 3% 2%;
      text-align: center;
}

/* .work2 */
.work2 {
      width: 100%;
      text-align: center;

      img {
            margin: 1%;
            width: 94%;
      }
}

/* footer */
footer h3 {
      text-align: center;
      color: grey;
      margin: 20px;
}

.social {
      margin: 20px 0;

      ul {
            list-style: none;
            text-align: center;

            li {
                  display: inline-block;
                  margin-right: 10px;

                  &:hover {
                        border: #fff 1px solid;
                  }

                  a {
                        display: block;
                        padding: 10px 20px;
                        color: white;
                        text-decoration: none;
                  }
            }
      }
}

/* Responsiveness */
@media only screen and (max-width: 991px) {
      header {
            text-align: center;
            margin: 2% 2% 10% 2%;

            h1 {
                  font-size: 36px;
            }

            p {
                  font-size: 15px;
            }
      }

      .work img {
            margin: 2%;
      }

      .header2 {
            margin: 4% 1% 2% 1%;

            h1 {
                  font-size: 36px;
            }

            p {
                  font-size: 12px;
            }
      }

      .work2 img {
            margin: 2%;
      }
}

@media only screen and (max-width: 660px) {
      .social {
            h3 {
                  font-size: 1rem;
            }
      }
}

@media only screen and (max-width: 525px) {
      header {
            .download {
                  .button1 {
                        padding: 10px 22px;
                  }
            }
      }

      .social {
            h3 {
                  font-size: 0.8rem;
            }
      }
}

@media only screen and (max-width: 475px) {
      header {
            h1 {
                  font-size: 30px;
            }

            p {
                  font-size: 15px;
            }

            .button1 {
                  font-size: 13px;
                  padding: 8px 20px;
            }
      }

      .imagenes {
            #texto {
                  font-size: 25px;
            }

            img {
                  width: 90%;
            }
      }
}